
.container {
    width: 100%;
    height: 100%;
    background: white;
}

.date-time {
    width: 171px;
    height: 63px;
    left: 1286px;
    top: 38px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.user-info {
    width: 291px;
    height: 43px;
    left: 29px;
    top: 32px;
    position: absolute;
}

.user-details {
    width: 239px;
    height: 43px;
    left: 52px;
    top: 0px;
    position: absolute;
}

.user-name {
    width: 239px;
    height: 43px;
    left: 0px;
    top: 0px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.user-id {
    width: 67px;
    height: 16.12px;
    left: 0px;
    top: 26.88px;
    position: absolute;
    color: black;
    font-size: 13px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
}

.icon-container {
    width: 42px;
    height: 43px;
    left: 0px;
    top: 0px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.icon {
    width: 28px;
    height: 21.50px;
    border: 2px black solid;
}

.buttons-container {
    width: 702px;
    height: 265px;
    left: 369px;
    top: 20rem;
    position: absolute;
}

.button {
    width: 10rem;
    height: 5rem;
    padding: 12px;
    position: absolute;
    background: #2C2C2C;
    border-radius: 8px;
    overflow: hidden;
    border: 1px #2C2C2C solid;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    color: #F5F5F5;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
}

.button-1 {
    left: 0px;
    top: 0px;
    display: flex; /* Add flex display */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.button-2 {
    left: 256px;
    top: 0px;
}

.button-3 {
    left: 512px;
    top: 0px;
}

.button-4 {
    left: 121px;
    top: 165px;
}

.button-5 {
    left: 386px;
    top: 165px;
}


