{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %} My challenges {% endblock %}</title>
    {% block 'css-styles' %}{% endblock %}
    <link rel="stylesheet" href="{% static 'reception/base.css' %}">
    
    {% block scripts %}{% endblock %}
</head>
<body>

    <div id="sidebar" class="sidenav">
        <a href="/appointment">Appoinment</a>
        <a href="room">Room Reservations</a>
        <a href="visitor">Visitors</a>
    </div>

    <!-- Toggle Button -->
    <button id="toggle-button" class="toggle-button">&#9776;</button>

    <div class="content active">
        
        {% block sidebar_content %}{% endblock %}
    </div>

    <!--{% block additional_scripts %}-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const toggleButton = document.getElementById('toggle-button');
            const sidebar = document.getElementById('sidebar');
            const content = document.querySelector('.content');
        
            // Sidebar starts collapsed
            sidebar.classList.add('active');
            content.classList.add('active');
        
            toggleButton.addEventListener('click', function() {
                sidebar.classList.toggle('active');
                content.classList.toggle('active');
            });
        });
        
    </script>
  <!--  {% endblock %} -->





    
    {% block content %}{% endblock%}
</body>
</html>