{% extends "base.html" %}

{% load static %}



{% block page_title %}
appointment and rooms{% endblock %}

{% block content %}

{% block css-styles %}
    <link rel="stylesheet" href="{% static 'reception/styles.css' %}">
{% endblock %}

<section id="welcome">
    <header id="main-navigation">
        <h1>Appointment</h1>
        
    </header>
    <form action="" method="GET">

        <div class="appointment_form_group">
            <label for="doc_name">Doctor Name</label>
            <input type="text" name="doc_name" id="doc_name" placeholder="Enter Doctor Name">
        </div>

        <div class="appointment_form_group">
            <label for="patient_tc">Patient TC</label>
            <input type="text" name="patient_tc" id="patient_tc" placeholder="Enter TC">
        </div>

        <div class="appointment_form_group">
            <button type="submit">Search</button>
        </div>
    </form>
</section>

<section id="patient_info">
   
   
    {% if appointments %}
    <h2>Matching Appointments</h2>
    <ul>
        {% for appointment in appointments %}
            <li>Date:{{ appointment.appointment_date }}</li>
            <li>Time:{{ appointment.appointment_time }}</li>
            <li>Patient_ID:{{ patient.patient_id }}</li>
        {%endfor%}


    </ul>
    {% endif %}
</section>
{% endblock %}