{% extends "base.html" %}

{% load static %}

{% block page_title %}
Emergency Patient Admission
{% endblock %}


{% block content %}

{% block css-styles %}
    <link rel="stylesheet" href="{% static 'reception/styles.css' %}">
{% endblock %}


<section id="welcome">
    <header class="emergency-header">
        <h2><a href="#">Emergency Patient Admission</a></h2>
    </header>
    <form action="" method="post" class="emergency-form-container">
        {% csrf_token %}
        
        <!-- Admission Date and Time -->
        <div class="emergency-form-group">
            <label for="admission_datetime">Admission Date </label>
            <input type="date" name="admission_datetime" id="admission_datetime" required>
        </div>

        <!--  Admission Time   -->
          <div class="emergency-form-group">
            <label for="admission_time">Admission Time</label>
            <input type="time" name="admission_time" id="admission_time">
          </div>

        <!-- Patient Condition -->
        <div class="emergency-form-group">
            <label for="patient_condition">Condition/Issue:</label>
            <textarea name="patient_condition" id="patient_condition" rows="4" required></textarea>
        </div>

        <!-- Submit Button -->
        <div class="emergency-form-group">
            <button type="submit" class="emergency-form-button">Admit Patient</button>
        </div>
    </form>
</section>
{% endblock %}
