{% extends 'base.html' %}
{% load static %}

{% block page_title %}Main{% endblock %}

{% block css-styles %}
    <link rel="stylesheet" href="{% static 'reception/styles.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        // Javascript to update the date and time
        function updateDateTime() {
            var now = new Date();
            var date = now.toLocaleDateString();
            var time = now.toLocaleTimeString();
            document.getElementById('current-date').innerHTML = date;
            document.getElementById('current-time').innerHTML = time;
        }
        setInterval(updateDateTime, 1000);
        window.onload = updateDateTime;
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="date-time">
            <div id="current-date"></div>
            <div id="current-time"></div>            
        </div>
        <div class="user-info">
            <div class="user-details">
                <div class="user-name">Biyzanur</div>
                <div class="user-id">534563</div>
            </div>
            <div class="icon-container">
                <div class="icon"></div>
            </div>
        </div>
        <div class="buttons-container">
            <div class="button button-1">
            <a href="{% url  "new_patient" %}"> 
                Enroll Patient
            </a>
            </div>
            <div class="button button-2">
                <a href="{% url  "existing_patient" %}">Search Patient
                </a>
                </div>
            <div class="button button-3">
                <a href="{% url  "emergency" %}">Emergency Patient
                </a></div>
            <div class="button button-4">
                <a href="{% url  "visitors" %}">Visitor Management
                </a></div>
            <div class="button button-5">
                <a href="{% url  "appointments_and_reservations" %}">Doctor/Room Availability
                </a></div>
        </div>
    </div>
{% endblock %}