{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'reception/styles.css' %}">
    <script>

        // Javascript to update the date and time
        function updateDateTime() {
            var now = new Date();
            var date = now.toLocaleDateString();
            var time = now.toLocaleTimeString();
            document.getElementById('current-date').innerHTML = date;
            document.getElementById('current-time').innerHTML = time;
        }
        setInterval(updateDateTime, 1000);
        window.onload = updateDateTime;

        
    </script>
</head>
<body>
    <div class="container">
        <div class="date-time">
            <div id="current-date"></div>
            <div id="current-time"></div>            
            </div>
        <div class="user-info">
            <div class="user-details">
                <div class="user-name">Alex ferrara</div>
                <div class="user-id">534563</div>
            </div>
            <div class="icon-container">
                <div class="icon"></div>
            </div>
        </div>
        <div class="buttons-container">
            <div class="button button-1">Enroll Patient</div>
            <div class="button button-2">Search Patient</div>
            <div class="button button-3">Emergency Patient</div>
            <div class="button button-4">Visitor Management</div>
            <div class="button button-5">Doctor/Room Availabilty</div>
            
        </div>
    </div>
</body>
</html>