{% extends "base.html" %}

{% load static %}



{% block page_title %}
Enroll Patient
{% endblock %}

{% block content %}

{% block css-styles %}
    <link rel="stylesheet" href="{% static 'reception/styles.css' %}">
{% endblock %}

<link rel="stylesheet" href="">
<section id="welcome">
    <h1>New Patient</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="patient_tc">TC:</label>
        <input type="text" name="patient_tc" id="patient_tc" required><br>

        <label for="patient_name">Name:</label>
        <input type="text" name="patient_name" id="patient_name" required><br>

        <label for="patient_surname">Surname:</label>
        <input type="text" name="patient_surname" id="patient_surname" required><br>

        <label for="patient_phone">Phone:</label>
        <input type="tel" name="patient_phone" id="patient_phone"  placeholder="+90 (5_ _) (_ _ _) (_ _) (_ _)" required><br>

        <label for="patient_address">Address:</label>
        <input type="text" name="patient_address" id="patient_address" required><br>

        <label for="patient_birthdate">Birthdate:</label>
        <input type="date" name="patient_birthdate" id="patient_birthdate" required><br>

        <label for="gender">Gender:</label>
        <select name="gender" id="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>

        <button type="submit">Register</button>
    </form>

    
<script>
    const phoneInput = document.getElementById('patient_phone');
        phoneInput.addEventListener('input', (e) => {
            const value = e.target.value.replace(/\D/g, ''); 
            const formattedValue = '+90 (' +
                (value.substring(0, 3) || '') +
                ') ' +
                (value.substring(3, 6) || '') +
                ' ' +
                (value.substring(6, 8) || '') +
                ' ' +
                (value.substring(8, 10) || '');
            e.target.value = formattedValue.trim();
    });

</script>

</section>

{% endblock %}